{% extends "overrides/main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->

<!--binbash leverage documetation-->
<section class="first-gradiant-body pb-5  w-100">

  <div class="md-grid conteiner-row pt-1 pt-lg-5">
    <div class="px-4 ctx-header-text conteiner">
      <div class="conteiner-row" style="display: flex; justify-content: space-between">
        <div class="conteiner pt-4 s-size" >
          <img src="assets/images/logos/maat-title-logo.png" class="my-3 section-logo" />
            <p class="h2 py-3">
              DOCUMENTATION
            </p>
          <p class="h3">
            Extensible, reusable and automation ready solution
            for defining and managing your network resources and services.
          </p>
          <div class="conteiner-row conteiner-xs pb-5" >
            <button
                    type="button"
                    title="Maat Concepts"
                    onclick="location.href='./concepts/'"
                    class="btn-pink btn-xl-large mx-3 my-md-5 my-lg-5 my-xl-5 btn-lg-large my-4 nowrap box-shadow"
            >
              Get Started
            </button>
            <button
                    type="button"
                    title="{{ page.next_page.title | e }}"
                    onclick="window.open(mailto:romradz@man.poznan.pl', '_blank')"
                    class="btn-brown btn-xl-large my-md-5 mx-3 my-lg-5 my-xl-5 btn-lg-large my-4 nowrap box-shadow"
            >
              Contact Us
            </button>
          </div>
          </div>
          <div class="conteiner display-head" style="width: 60%; align-items: end">
            <div class="maat-head">

            </div>
          </div>
       </div>

    </div>
  </div>
</section>

<section class="second-gradiant-body w-100">
  <!--We ship it. You own it-->
  <div class="md-grid conteiner-row pt-4 pb-4 my-5">
    <div class="card-white py-3 mx-xs-3 mx-sm-3 mx-4 mx-xl-0 ">
      <div class="conteiner-row direction">
        <div class="conteiner ctx-card-white-1 pt-4">
          <div class=" text-align-center">
            <p class="display-4 Telegraf-UltraBold text-dark mx-auto mt-4">We make it.</p>
            <p class="display-4 Telegraf-UltraBold text-pink mx-auto my-4">You own it.</p>
          </div>
<!--          <div class="d-sm-none d-md-none d-lg-none d-xl-none text-align-center">-->
<!--            <p class="display-4 Telegraf-UltraBold text-dark mx-auto mt-4">We make it.</p>-->
<!--            <p class="display-4 Telegraf-UltraBold text-pink mx-auto my-4">You own it.</p>-->
<!--          </div>-->

          <button
            onclick="window.open('https://bitbucket.software.geant.org/projects/OSSBSS/repos/inventory3/browse', '_blank')"
            title="Maat repository"
            type="button"
            class="btn-white btn-xl-large btn-lg-large box-shadow mx-auto my-4"
          >
            Go to BitBucket Repo
          </button>
        </div>
        <div class="conteiner ctx-card-white-1 text-dark h3">
          <ul class="mx-xs-auto mx-sm-auto mx-md-auto my-xs-5 my-sm-5 my-md-5" style="list-style-type: square; display: flex; align-items: flex-start; flex-direction: column; gap: 10px;">
            <li>Single source of truth for your network infrastructure</li>
              <li>Control the level of detail</li>
              <li>Customisable data model</li>
              <li>Open REST API</li>
              <li>Implement, reuse and scale faster</li>
              <li>Proven validation against custom schema</li>
              <li>Full support for automation and orchestration</li>
              <li>Achieve compliance with TM Forum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--Whats is -->
  <div class="conteiner-row-lg conteiner-row-xl conteiner py-5 my-5">
    <div class="conteiner mx-auto" >
      <div class="conteiner ctx-what-is mx-auto" style="order:0; flex: 50%; width: 70%">
        <span class="display-3 text-dark Telegraf-UltraBold mt-4 text-align-center text-end-xl text-end-lg">What is Maat?</span>
        <div class="conteiner text-dark h3 text-align-start text-end-xl text-end-lg my-xs-5 my-sm-5 my-md-5">
          <p class="my-3">
            <img src="assets/images/icons/icon.png" class="mx-2" width="15px" height="15px"/>
            Maat's focus is on providing a reusable, high quality single source of truth for network services and resources, through its core components:
          </p>
          <p class="my-3 t-b">
            • Extensible data model<br>
            • Open REST APIs<br>
            • Event notification listener<br>
          </p>
          <p class="my-3">
            <img src="assets/images/icons/icon.png" class="mx-2" width="15px" height="15px"/>
            By sharing different data models within the community, you can get your SSOT up and running on <span class="t-b">faster and easier</span>  than mapping from scratch.
          </p>
          <p class="my-3">
            <img src="assets/images/icons/icon.png" class="mx-2" width="15px" height="15px"/>
            Maat is open source, documented, tested, used in production environments and <span class="t-b">fully supported by the development team.</span>
          </p>
          <button
            onclick="location.href='./features/'"
            title="{{ page.next_page.title | e }}"
            type="button"
            class="btn-brown btn-xl-large btn-lg-large my-4 box-shadow ml-auto mx-xs-auto mx-sm-auto mx-md-auto"
          >
            Maat Features
          </button>
        </div>
      </div>
    </div>
    <div class="conteiner  what-is-maat" style="order:1; flex: 50%; overflow:hidden; justify-content: center">
      <img src="assets/images/illustrations/computer.png" class="laverage-mac-img my-xs-5 my-sm-5 my-md-5"/>
    </div>
  </div>
</section>

<!--Why -->

<section class="third-dark-body w-100">
  <div class="md-grid conteiner-row-lg conteiner-row-xl conteiner py-5 my-5" style="display: flex; justify-content: center; align-items: center">
      <div class="conteiner px-4 py-4 why-maat" style="order: 0; overflow: hidden; align-items: center" >
        <img src="assets/images/illustrations/what_is_maat.png" class="laverage-mac2-img"/>
      </div>

      <div class="conteiner px-4" >
        <p class="display-3 pb-5">
          Why Maat?
        </p>
        <div class="card-rainbow px-5 py-5" style="order:1; flex: 100%;">
          <div class="conteiner ctx-card-white-1 text-dark h3">
            <p class="my-3">
              <img src="assets/images/icons/icon.png" width="15px" height="15px"/>
              If you implement our <span class="t-b">Resource and Service Inventory</span> and the <span class="t-b">Data Model Schema</span> via <span class="t-b">Maat API</span>, you will get your entire network and services described in the way you want it with as many details as you want.
            </p>
            <p class="my-3">
              <img src="assets/images/icons/icon.png" width="15px" height="15px"/>
              We've built every component based on the best-recommended practices, mainly following the <span class="t-b">TM Forum Open API spec</span>, enabling you to implement, reuse and automate your network activities faster.
            </p>
            <p class="my-3">
              <img src="assets/images/icons/icon.png" width="15px" height="15px"/>
              Maat will hold the desired state of your entire infrastructure and grant you the possibility to orchestrate service management in an easy and powerful way.
            </p>
          </div>
        </div>
      </div>



  </div>
</section>


<!--Our tech stack-->
<section class="four-gray-body w-100">
    <div class="md-grid conteiner pt-5  my-0 my-xl-4 my-lg-4">
      <p class="display-3 text-white Telegraf-UltraBold mt-4 text-align-center text-start-xl text-start-lg">Our tech stack</p>
      <!--
          <img src="assets/images/logos/stack-tecnology.svg" class="mx-auto my-5" width="80%"/>
          <div class="conteiner conteiner-row-lg conteiner-row-xl my-4">
            <div class="text-dark h3 mx-4 my-3 mx-lg-0 my-xl-0 mx-lg-0 my-xl-0" style="order:0; flex: 50%;">
              <p>Opinionated reference <span class="t-b">AWS solutions</span> composable architecture, based on the <span class="t-b">AWS Well-Architected Framework</span>. With over ten years of experience, Infra as code and best practices.</p>
            </div>
            <div class="text-dark h3 mx-4 my-3 mx-lg-0 my-xl-0 mx-lg-0 my-xl-0" style="order:0; flex: 50%;">
              <p>Leverage facilitates a collection of reusable, tested, production-ready E2E IaC solutions. They are leveraged by modules written in <span class="t-b">Terraform, Ansible, Dockerfiles, Helm Charts</span> and <span class="t-b">Python</span>.</p>
            </div>
          </div>
          <div class="conteiner conteiner-row-lg conteiner-row-xl my-4">
            <div class="text-dark h3 mx-4 my-3 mx-lg-0 my-xl-0 mx-lg-0 my-xl-0" style="order:0; flex: 50%;">
              <p>Automated deployment workflow via <span class="t-b">Leverage CLI.</span></p>
            </div>
            <div style="order:0; flex: 50%;">
              <button
                onclick="location.href='./concepts/our-tech-stack/'"
                title="{{ page.next_page.title | e }}"
                type="button"
                class="btn-dark btn-xl-large btn-lg-large my-4 box-shadow mx-auto"
              >
                Why our tech stack???
              </button>
            </div>
          </div>
      -->
      <div class="conteiner-row my-0 my-xl-4 my-lg-4 stack-tenology-gradient">
        <img src="assets/images/logos/tech-stack.png" class="mx-auto py-3" width="60%"/>
      </div>
  </div>

</section>

<!--Footer-->
<footer class="bg-dark w-100">
<!--
      <div class="conteiner-row" >
        <img src="assets/images/logos/white-bold.png" height="4%"/>
        </div>
-->
  <div class="md-grid conteiner-row-xl conteiner-row-lg conteiner pt-5 my-4">
    <div class="conteiner-row" style="display: flex; justify-content: space-between; width: 100%" >
      <div class="conteiner-row">
        <div class="text-white d-flex" style="flex: 10%;">
          <img src="assets/images/logos/logo-binbash.png" class="mx-auto"/>
        </div>
        <div class="text-white h4" style="flex: 40%;" align="left">
          <p>Landing page design based on Binbashar</p>
        </div>

      </div>
        <div style="display: flex; ">
          <div>
            <img src="assets/images/icons/geant_logo_white.png">
          </div>

          <div>
            <img src="assets/images/icons/eu_logo.png">
          </div>
        </div>


<!--
      <div class="text-white text-end h3" style="flex: 35%;">
          <span>Follow us on: </span>
      </div>
      <div class="text-white h3" style="flex: 15%;">
        <a href="https://join.slack.com/t/binbashar/shared_invite/zt-fw1692b6-9k4ADsWJ47lKacszphXM1w" target="_blank">
          <img
            src="assets/images/logos/socialmedia/slack.svg"
            title="Slack"
            class="mx-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://github.com/binbashar" target="_blank">
          <img
            src="assets/images/logos/socialmedia/github.svg"
            title="Github"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
      </div>
-->
    </div>
  </div>
</footer>

{% endblock %}
