*{
	--md-primary-fg-color: #f4dcce;
	--md-typeset-a-color: #401201;
	--md-accent-fg-color : #401201;
}
*:root {
	--md-primary-fg-color: #181917;
	--md-typeset-a-color: #401201;
}



:root>* {
	--md-primary-bg-color:   #000;
	--md-typeset-color:   var(--md-default-fg-color);
	--md-typeset-a-color: var(--md-primary-fg-color--light);
}
.md-header__title .md-header__ellipsis .md-header__topic {
	background-image: url(../assets/images/logos/binbash-nav-icon.svg);
	height: 30px;
	width: 150px;
	background-repeat: no-repeat;
	margin-top: 10px;
}

.md-header__topic .md-ellipsis {
	display: none;
}
